* {
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  color: #666;
  overflow-x: hidden;
  line-height: 1.7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #787878;
  margin: 0 0 1em;
}

h1 {
  font-size: 36px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 26px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 18px;
}
h6 {
  font-size: 15px;
}

p{
    margin 0 0 2em;
}

blockquote{
    border-left: 5px solid #efefef;
    margin: 2em 0;
    padding: 0.5em 0  .5em 1.5em;
}

.main-header {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 35%;
  padding: 124px 36px 72px;
  box-sizing: border-box;
  background-image: url("/images/7-noise-texture-overlays-1.png"),
    url("/images/pexels-kasuma-1785493.jpg");
  background-size: cover;
  background-position: left;
  text-align: right;
  overflow: hidden;
  padding-top: 200px;
}

.main-header-image-cropper {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  margin-left: auto;
  margin-right: 10%;
}

.main-header img {
  margin: 0 auto;
  width: auto;
  height: 100%;
  margin-left: -12%;
}

.main-header-title {
  font-size: 20px;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.747);
  font-weight: normal;
}

.main-header-title strong {
  color: white;
}

.main-content {
  width: 65%;
  margin-left: 35%;
  padding: 124px 36px 72px;
}
