* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}
body {
  padding: 5rem 8rem;
}

.fashion-top {
  width: 100%;
}

nav {
  display: flex;
  background-color: #122533;
  height: 8vh;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 1.5rem 0rem 4rem;
}

#logo {
  height: 30px;
}

nav ul {
  display: flex;
  justify-content: space-around;
  width: 40%;
  font-size: 1.6rem;
  list-style: none;
  font-weight: 100;
}

nav a {
  color: #496a81;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: none;
}

.introduction {
  margin-top: 5rem;
  margin-bottom: 5rem;
  text-align: center;
}

.introduction h2 {
  font-size: 3.6rem;
  margin-bottom: 2rem;
}

.introduction p {
  padding: 0px 20%;
  font-size: 1.6rem;
  font-weight: 100;
  color: gray;
  line-height: 2.5rem;
}

.gallery {
  display: flex;
  margin: 5rem 0rem;
  text-align: center;
  justify-content: space-evenly;
}

.gallery h4 {
  font-size: 2.1rem;
}

.gallery p {
  color: rgb(70, 69, 69);
}

.informations {
  background-image: url("/imagens/bg_detalhe.png");
  background-size: cover;
  background-position: bottom;
  color: white;
  padding-left: 5rem;
  padding-top: 5rem;
  padding-bottom: 8rem;
}

.informations h2 {
  font-size: 6.4rem;
  margin-bottom: 2rem;
  text-shadow: 3px 3px 3px rgb(65, 64, 64);
}

.informations p {
  font-size: 1.6rem;
  padding-right: 50%;
}

.contact {
  margin-top: 2rem;
  text-align: center;
  color: #122533;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.342);
}

.contact h3 {
  font-size: 4rem;
}
.contact h4 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

footer {
  background-color: #122533;
  color: rgb(89, 81, 165);
  text-align: center;
  min-height: 8vh;
  padding-top: 2rem;
  padding-bottom: 2rem;
  letter-spacing: 5px;
}
.mapouter {
  text-align: center;
  height: 500px;
  width: 100%;
}
.gmap_canvas {
  background: none !important;
  height: 500px;
  width: 100%;
}
